/**
 * @author Diego Diomir Mamani Ramos CI:12700466
 * @contact dgrmrs@gmail.com
 * @phone 76566242 Bolivia
 *
 * @created 2025-10-24
 * @version 1.0 (Iniciativa Personal)
 *
 * Descripción:
 * Definicion de estilos y fuentes base para este proyecto
 *
 * -------------------------------------------------------------------------------
 * **PROPIEDAD INTELECTUAL Y DERECHOS**
 * -------------------------------------------------------------------------------
 * Autoría, Derechos Morales e Innovación: Pertenecen a Diego Diomir Mamani Ramos CI:12700466.
 * La Propiedad Intelectual de esta creación se realizó de manera extra-contractual con el fin de
 * contribuir a los objetivos estratégicos de la empresa Entel SA.
 * 
 * Los beneficios, reconocimientos y derechos de explotación comercial (si los hubiera) derivados de este código
 * (incluyendo cualquier ganancia) deben ser compartidos entre Diego Diomir Mamani Ramos CI:12700466
 * y la empresa Entel SA, de acuerdo con la legislación laboral sobre invenciones no
 * contractuales y el uso de recursos empresariales vigentes.
 *
 * PROHIBIDA la modificación, distribución o uso de este código fuente sin una
 * autorización expresa y por escrito de los titulares del copyright indicados en este documento informatico.
 *
 * El incumplimiento de esta condición dará lugar a las acciones legales
 * pertinentes.
 *
 * Copyright (c) 2025 Entel SA.
 * -------------------------------------------------------------------------------
*/

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root{
    --color-entel-blanco: #ffffff;
    --color-entel-negro: #000000;

    --color-entel-cyan: #16a6ec;
    --color-entel-azul: #004f9c;

    --color-entel-plateado: #adadad;
    --color-entel-plomo: #3f3f3e;

    --color-entel-verde: #00c746;
    --color-entel-verde-oscuro: #006d26;

    --color-entel-rosa: #f73cd8;
    --color-entel-rosa-oscuro: #aa1892;
    
    --color-entel-naranja: #fc7d15;
    --color-entel-naranja-oscuro: #b3590f;

    --color-entel-lila: #b54dff;
    --color-entel-light-oscuro: #5f00a3;
}


@theme{
    /*Establecemos paletra de colores*/
    --color-entel-blanco: #ffffff;
    --color-entel-negro: #000000;

    --color-entel-cyan: #16a6ec;
    --color-entel-azul: #004f9c;

    --color-entel-plateado: #adadad;
    --color-entel-plomo: #3f3f3e;

    --color-entel-verde: #00c746;
    --color-entel-verde-oscuro: #006d26;

    --color-entel-rosa: #f73cd8;
    --color-entel-rosa-oscuro: #aa1892;
    
    --color-entel-naranja: #fc7d15;
    --color-entel-naranja-oscuro: #b3590f;

    --color-entel-lila: #b54dff;
    --color-entel-light-oscuro: #5f00a3;

    /*FUENTE*/
    --font-sans: "Montserrat", sans-serif;
}